@import "../../styles/mixins";

header {
    @include absoluteWith;
    border-bottom: 1px solid rgba(0, 0, 0, .65);
}

.container {
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.menu-container {
    float: right;
    color: #fff!important;
    border: none!important;
    font-weight: bold;
    background-color: transparent!important;
}